
#header{
    height: 70px;
    background: #273D5F;
    color:#fff;

}

#branding h1{
    color:#fff;
}

a:link, a:visited{
    color: #273D5F;
}
div.breadcrumbs{
     background: #29AB88;
     color: #273D5F;
}

div.breadcrumbs a{
    font-weight: bold;
    color: #273D5F;
}

div.breadcrumbs a:hover,a:active{
    color: #273D5F;
}

.module h2, .module caption, .inline-group h2 {
    margin: 0;
    padding: 8px;
    font-weight: 400;
    font-size: 13px;
    text-align: left;
    background: #273D5F;
}


